twc_token            = ""
server_zone          = "ru-2"
private_ssh_key_path = ""
steam_user_password  = ""

steam_project_name   = "Steam"
steam_root_key_name  = "Steam root ssh key"
steam_s3_bucket_name = "steam-s3-bucket"